.popup-arrow{
  display: none
}

.popup-content {
  border: 0 !important;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 3px !important;
  width: fit-content !important;
  padding: 30px !important
}
